<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css">
    <title>DashBoard</title>
</head>
<body>

<!-- NAVBAR -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <span class="material-symbols-outlined" data-icon="menu">menu</span>
        <form action="#">
            <div class="form-group">
                <input type="text" placeholder="Search...">
                <span class="material-symbols-outlined" data-icon="search">search</span>
            </div>
        </form>

        <a href="#" class="nav-link">
            <span class="material-symbols-outlined">notifications</span>
            <span class="badge">0</span>
        </a>

        <a href="#" class="nav-link">
            <span class="material-symbols-outlined">sms</span>
            <span class="badge">1</span>
        </a>

        <span class="divider"></span>
        <div class="profile">
            <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cGVvcGxlfGVufDB8fDB8fHww" alt="">
            <ul class="profile-link">
                <li><a href="#"><span class="material-symbols-outlined">account_circle</span>Profile</a></li>
                <li><a href="#"><span class="material-symbols-outlined">settings</span>Settings</a></li>
                <li><a href="#"><span class="material-symbols-outlined">logout</span>Logout</a></li>
            </ul>
        </div>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <h1 class="title">Slido ToyProject</h1>
        <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Slido</a></li>
        </ul>
        <div class="info-data">
        </div>

        <div class="data">
            <div class="content-data">
                <div class="head">
                    <h3>Chatbox</h3>
                    <div class="menu">
                    </div>
                </div>

                <ul class="breadcrumbs">
                    <li><a href="#" data-sort="date" data-order="desc">최신순</a></li>
                    <li class="divider">/</li>
                    <li><a href="#" data-sort="date" data-order="asc">역순</a></li>
                    <li class="divider">/</li>
                    <li><a href="#" data-sort="likes" data-order="desc">좋아요 많은 순</a></li>
                    <li class="divider">/</li>
                    <li><a href="#" data-sort="likes" data-order="asc">좋아요 적은 순</a></li>
                </ul>

                <div class="chat-box" id="comments">
                    <p class="day"><span>Today</span></p>
                </div>

                <form action="#" class="chatbox-message">
                    <textarea name="message" id="message-input" placeholder="Type message..."></textarea>
                    <button type="submit"><span class="material-symbols-outlined" data-icon="send">send</span></button>
                </form>
            </div>
        </div>

        <button id="qr-button">QR 코드 생성</button>
        <div id="qr-code-container"></div>
    </main>
    <!-- MAIN -->
</section>
<!-- NAVBAR -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/script.js"></script>
</body>
</html>
