<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/style.css">
    <title>Presentation QnA Form</title>
</head>
<body>

<!-- NAVBAR -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <span class="material-symbols-outlined" data-icon="menu">menu</span>
        <div class="form-group">
            <input type="text" id="search-input" placeholder="Search...">
            <span class="material-symbols-outlined" id="search-icon" data-icon="search">search</span>
        </div>


        <a href="#" class="nav-link">
            <span class="material-symbols-outlined">notifications</span>
            <span class="badge">0</span>
        </a>

        <a href="#" class="nav-link">
            <span class="material-symbols-outlined">sms</span>
            <span class="badge">0</span>
        </a>

        <span class="divider"></span>
        <div class="profile">
            <img src="" alt="Profile Image" class="profile-img">
            <div class="default-profile"></div>

            <ul class="profile-link">
                <li><a href="#"><span class="material-symbols-outlined">account_circle</span>Profile</a></li>
                <li><a href="#"><span class="material-symbols-outlined">settings</span>Settings</a></li>
                <li><a href="#"><span class="material-symbols-outlined">logout</span>Logout</a></li>
            </ul>
        </div>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <h1 class="title">Presentation QnA</h1>
        <ul class="breadcrumbs">
            <li><a href="/" class="active">Home</a></li>
            <li class="divider">/</li>
            <li><a href="#" >Slido</a></li>
        </ul>
        <div class="info-data">
        </div>

        <div class="data">
            <div class="content-data">
                <div class="user-info">
                    <p>환영합니다 <span class="nickname"></span> 님</p>
                    <button id="create-room-button" class="hidden">방만들기</button>
                    <button id="join-room-button" class="hidden">접속하기</button>
                    <form action="kakao/logout" method="post" id="logout-button">
                        <button type="submit">Logout</button>
                    </form>
                </div>
                </br></br>
                <div class="login-info">
                    <p>
                        <a th:href="@{|${kakaoUrl}|}" id="kakao-login">
                            <img th:src="@{/images/kakao_login_medium_wide.png}" alt="카카오 로그인" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- NAVBAR -->

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/login.js"></script>
</body>
</html>
